@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');

body {
  color: #000;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

.text-container{
  background-color: #000;
  height: 100vh;
  width: 100vw;
  font-size:5vw ;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align:center;
  span{
    margin-top: 50vh;
    margin-left: 1vw;
  }
  span:nth-child(8){
    margin-right:2vw ;
  }
}
@for $i from 1 through 12{
  span:nth-child(#{$i}){
    animation: starts .75s forwards;
    animation-delay: $i*.75s;
  }
}
@keyframes starts {
  0%,100%{
    color:white;
    text-shadow: 0 0 10px #0652DD, 0 0 50px #0652DD, 0 0 100px #0652DD;
  }
  50%{
    color: black;
    text-shadow: none;
  }
}

.hidden{
  display: none;
}

.container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-container {
  margin: 0 30px;
  overflow: hidden;
}
.card {
  background: #fff;
  border-radius: 8px;
}

.card .profile-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
}
.card .head{
  align-items: center;
  padding: 15px 0 0 15px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1em;
  font-weight: bold;
}
.profile-details .name {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-size: 1em;
}
.swiper-navBtn {
  color: #000;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 18px;
}
.swiper-pagination-bullet {
  background-color: #000;
}

nav{  
  background: linear-gradient(to right,#2B3990,#00A79D);
  a{
    color: white;
  }
}
.Learn-more{
  color: blue;
  text-decoration: none;
}
@media (max-width: 575.98px)  {
  #l-screen{
    display: none;
  }
}

@media (max-width: 767.98px) and (min-width:576px) {
  #l-screen{
    display: none;
    a{
      color: white;
    }
  }
}

@media (max-width: 991.98px) and (min-width:768px) {
  #l-screen{
    display: none;
  }
}

@media (max-width: 1199.98px) and (min-width:992px) {
  #s-screen{
    display: none;
  }
}

@media (max-width: 1399.98px) and (min-width:1200px) {     
  #s-screen{
    display: none;
  }
}
